header{
  font-size:16px;
  font-size:1em;
  text-align:center;
  color:white;
  background-color:#444444;
  padding:5px 0;
}

.row{
  margin-top:5px;
  margin-bottom:5px;
}

[class*='col-span'],[class*='xs'],[class*='sm'],[class*='md']{
  background-color:#0099FF;
  padding-top:5px;
  padding-bottom:5px;
  text-align:center;
  color:white;
}

[class*='xs']:not(:first-child),[class*='sm']:not(:first-child),[class*='md']:not(:first-child){
  border-left:1px solid white;
}

[class*='col-span']{
  background-color:#ff6262;
}

@media screen and (min-width:768px){
  [class*='col-span']{
    border-left:1px solid white;
  }

  [class*='col-span']:first-child{
    border-left:none;
  }

  article{
    padding-top:5px;
    padding-bottom:5px;
  }

  article:not(:first-child){
    border-top:1px solid white;
    margin-left:-15px;
    margin-right:-15px;
  }

  aside{
    height:96px;
  }
}

